<!DOCTYPE html>
<html lang="ja">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %} - BotDownDetector</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid container">
        <a class="navbar-brand" href="#">BotDownDetector</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-link" href="{{ url_for("index") }}">ホーム</a>
            <a class="nav-link" href="{{ url_for("register") }}">登録</a>
          </div>
        <div class="d-flex" style="margin-left: auto">
            {% if session %}
                {% if session['logged_in'] %}
                    <h6 class="nav-link text-light">{{ session['user_name'] }}</h6>
                    <a class="btn btn-outline-light" href="{{ url_for("logout") }}?return_url={{ request.url }}">LOGOUT</a>
                {% else %}
                    <a class="btn btn-outline-light" href="{{ url_for("login") }}?return_url={{ request.url }}">LOGIN</a>
                {% endif %}
            {% else %}
                <a class="btn btn-outline-light" href="{{ url_for("login") }}?return_url={{ request.url }}">LOGIN</a>
            {% endif %}
        </div>
        </div>
      </div>
    </nav>
    {% block content %}{% endblock %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
</body>
</html>