{% extends "base.html" %}
{% block title %}オンラインステータス{% endblock %}
{% block content %}
<div class="container col-lg-5 col-sm-8">
    <div class="row text-center mt-3 mb-3">
        <div class="col-md-12">
            <h1>{{ bot_name }}</h1>
        </div>
    </div>
    {% if shard_list | length == 1 %}
        {% if bot_status == "all offline" %}
            <div class="alert alert-danger text-center" role="alert">
                Botがオフラインです。
            </div>
        {% else %}
            <div class="alert alert-success text-center" role="alert">
                Botはオンラインです。
            </div>
        {% endif %}
    {% else %}
        {% if bot_status == "all offline" %}
            <div class="alert alert-danger text-center" role="alert">
                警告：全てのシャードがオフラインです。
            </div>
        {% elif bot_status == "some offline" %}
            <div class="alert alert-warning text-center" role="alert">
                警告：一部のシャードがオフラインです。
            </div>
        {% else %}
            <div class="alert alert-success text-center" role="alert">
                全シャードがオンラインです。
            </div>
        {% endif %}
    {% endif %}

    <div class="row mb-3">
        <div class="col-md-12 column">
            <div class="list-group">
            {% if shard_list | length == 1 %}
                {% set shard = shard_list[0] %}
                {% if shard["status"] == "online" %}
                    <div class="list-group-item">
                        <h4 class="list-group-item-heading">
                            ステータス
                        </h4>
                        <p class="list-group-item-text">
                            <span class="badge bg-primary">オンライン</span>
                        </p>
                    </div>
                {% else %}
                    <div class="list-group-item">
                        <h4 class="list-group-item-heading">
                            ステータス
                        </h4>
                        <p class="list-group-item-text">
                            <span class="badge bg-danger">オフライン</span>&nbsp;&nbsp;
                            <small>最終オンライン時刻: {{ shard["last_access"] }}</small>
                        </p>
                    </div>
                {% endif %}
            {% else %}
                {% for shard in shard_list %}
                    {% if shard["status"] == "online" %}
                        <div class="list-group-item">
                            <h4 class="list-group-item-heading">
                                シャード{{ shard["id"] }}
                            </h4>

                            <p class="list-group-item-text">
                                <span class="badge bg-primary">オンライン</span>
                                {% if "user_id" in session %}
                                <small>マシン名：{{ shard["machine_name"] }}</small>
                                {% endif %}
                            </p>
                        </div>
                    {% else %}
                        <div class="list-group-item">
                            <h4 class="list-group-item-heading">
                                シャード{{ shard["id"] }}
                            </h4>
                            <p class="list-group-item-text">
                                <span class="badge bg-danger">オフライン</span>
                                <small>マシン名：{{ shard["machine_name"] }}
                                    {% if "user_id" in session %}最終オンライン時刻：{{ shard["last_access"] }}{% endif %}</small>
                            </p>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}